.switcherProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 250px;
  border-radius: 35px;
  position: relative;
  overflow: hidden;
  background: var(--bg-dark2);
  cursor: pointer;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switcherProduct img {
  width: 200px;
  height: 180px;
  object-fit: contain;
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

.switcherProduct:hover img {
  transform: translateY(-30px) scale(1.08);
}

.text {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-main);
  transition: transform 0.3s ease-in-out;
}

.switcherProduct:hover .text {
  transform: translateY(-50px);
}

.text h3 {
  font-family: var(--outfit-semibold);
  margin: 0;
}

.text span {
  font-size: small;
  font-family: var(--manrope);
  margin-top: 0;
  transform: translateY(5px);
}

.btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 150%);
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: var(--bg-yellow);
  color: var(--text-dark);
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.switcherProduct:hover .btn {
  transform: translate(-50%, 0);
}

.caret {
  display: inline-block;
  border: solid currentColor;
  border-width: 0 1.5px 1.5px 0;
  padding: 3px;
  transform: rotate(-45deg);
}
