.hero {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url("../../assets/bgSwitch.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.heroContent {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
}

.heroSlogan {
  text-align: right;
  line-height: 3rem;
  margin-left: auto;
  width: 40%;
  font-size: 2.5rem;
}
